[2017-05-24 16:41] SmartFinn commented on #5
These icons are hardcoded, use [Hardcode-Tray](https://github.com/bil-elmoussaoui/Hardcode-Tray) to fix that.

[2017-05-24 16:56] henriquey commented on #5
Wow, that was quick. Thanks!
It worked!

![captura de tela de 2017-0](https://cloud.githubusercontent.com/assets/25267506/26415412/c99c3ee0-4088-11e7-8eeb-99c6f78cac57.png)

[2017-05-24 19:07] isantop commented on #2
Fixed with upstream Papirus.

[2017-05-24 20:05] SmartFinn commented on #5
@HenriqueY there is no other way to fix it. Only Stremio devs can do this.

[2017-05-26 22:48] isantop commented on #3
Thanks for your message! Right now, we aren't really working on Icon Requests. However, any icons added to upstream Papirus are frequently pulled into Pop, so filing the request there is definitely the best way to go.

[2017-05-30 00:15] bil-elmoussaoui commented on #5
@HenriqueY I can fix it if you report the issue on the correct repository ;)

[2017-06-05 17:08] isantop commented on #5
Closing this for now.

[2017-06-05 22:48] isantop opened #9 "Redesign avatar-default icon"
**Reporter info**

 Internal report.

The avatar-default icon should use System76 Colors by default. Will likely require an override using the new overrides system.

[2017-06-06 15:25] isantop commented on #8
Many of the taskbar icons are hardcoded into the applications themselves, and they can't be fixed directly in Pop. You should have a look at [Hardcode-Tray](https://github.com/bil-elmoussaoui/Hardcode-Tray), as that can fix some hardcoded icons and does work with Pop.

[2017-06-06 15:27] primetoxinz commented on #8
How could this possibly be hardcoded when it works on other icon themes such as Numix?

[2017-06-06 15:42] isantop commented on #9
![avatar-default](https://user-images.githubusercontent.com/5883565/26838109-6b1908d0-4a9c-11e7-8d03-613f26341d6d.png)

[2017-06-06 15:42] #9 closed

[2017-06-06 15:43] SmartFinn commented on #8
@primetoxinz did you run [Hardcode-Tray](https://github.com/bil-elmoussaoui/Hardcode-Tray) before? Could you make a screenshot with Numix?

[2017-06-06 17:54] primetoxinz commented on #8
I have gotten to work after a couple tries with Hardcode Tray. It worked at some point before I used Hardcode-Tray but not really worried about it now that it works.

[2017-06-09 12:46] kpuljek opened #10 "Inkscape is barely usable with Pop Icons (and theme)"
**Reporter info**

 * Distribution - (run ```lsb_release -a```)

Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.2 LTS
Release:	16.04
Codename:	xenial

 * Gtk+ 3.0 version - (run ```apt policy libgtk-3-0```)

libgtk-3-0:
  Installed: 3.18.9-1ubuntu3.3
  Candidate: 3.18.9-1ubuntu3.3
  Version table:
 *** 3.18.9-1ubuntu3.3 500
        500 http://archive.ubuntu.com/ubuntu xenial-updates/main amd64 P

[2017-06-16 18:52] SmartFinn commented on #3
@isantop already added here 52f52c9

[2017-06-20 16:04] isantop commented on #3
@SmartFinn I think you guys win the upstream-of-the-year award! :)

[2017-06-20 16:07] ryanleesipes opened #11 "Add instructions for install via Flatpak to README"
Would like to know how to install the Flatpak theme. Please add these instructions to the README.

[2017-06-20 16:07] ryanleesipes commented on #11
Oops, wrong repo.

[2017-06-20 16:07] #11 closed

[2017-06-20 16:28] #10 closed

[2017-06-20 16:33] isantop commented on #10
This is caused by poor software design in upstream Inkscape, and is due to the fact that they don't either specify a symbolic icon color palate, and use toolbars classes that specify dark icons instead of light ones. As a work around for this issue I've made recolored versions of the non-symbolic icons which should help improve readability, but this is a bug that should be filed against Inkscape t

[2017-06-21 18:47] cassidyjames opened #12 "`folder-saved-search` doesn't look like a folder"
**Reporter info**

 * Distribution - Ubuntu 17.04
 * Gtk+ 3.0 version - 3.22.11-0ubuntu3
 * Desktop environment - GNOME Shell

**Pop version (if you knew)**
1.1.9

**Related Application and/or Shell theming (or name of widget)**
Scratch or any app that uses `folder-saved-search`

**Actual issue**
The folder icon looks like a search action instead of a folder.
![screenshot from 2017-06-21 12 46 09]

[2017-06-22 15:37] isantop commented on #12
None of the current `folder-` icons (like `folder-remote` or `folder-publicshare` in the 16x16 size use the folder metaphor, so fixing this might require a good deal of new design.

[2017-09-22 17:15] cassidyjames opened #13 "Desktop icon has a dock"
Pop!\_OS doesn't have a dock, so we should probably not have a bottom dock in our desktop icon...

[2017-09-22 17:26] jackpot51 commented on #13
Which icon is that @cassidyjames ?

[2017-09-25 12:41] WatchMkr commented on #13
The "Desktop" icon in the home folder.

[2017-09-29 19:49] jbicha opened #14 "Switch Disks icons"
**Pop version (if you knew)**

Pop_OS 17.10 Beta (build 27)

**Actual issue**

The app icons for the Disks (gnome-disks) & Disk Usage Analyzer (baobab) apps are identical except that Disks has a Blue i and Disk Usage Analyzer has a red gear. Since Disk Usage Analyzer doesn't actually allow changing any settings as far as I know but it does allow more info about disk usage, I think it would make mo

[2017-09-29 20:06] cassidyjames opened #15 "Loading icon is strange"
I've thought this and it's been mentioned by others: the loading icon is kind of a strange and uncommon metaphor. We should probably look at using a more common/standard loading spinner.

[2017-09-29 20:09] jbicha commented on #15
You mentioned that it's a "spinner". Well it wasn't spinning when I saw it in Pop!_Shop.

[2017-09-29 20:56] WatchMkr commented on #14
Nice catch. Switching them makes sense.

[2017-09-29 21:08] cassidyjames commented on #15
@jbicha that is indeed strange. You were talking about this icon, though?

![screenshot from 2017-09-29 15-06-35](https://user-images.githubusercontent.com/611168/31036105-16f458d6-a528-11e7-9f2e-5d30cbc25e54.png)

Here it's definitely spinning when loading.

[2017-09-29 23:44] jbicha commented on #15
Yes, it looked stationary to me.

[2017-09-30 03:17] SmartFinn commented on #14
Fixed in upstream https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/commit/5fa399a4180daa812e9aa9b53939697e84f633b3

[2017-10-02 04:57] insanerwayner opened #16 "openSUSE Tumbleweed make install error"
**Reporter info**

 * Distribution - OpenSUSE Tumbleweed
 * Gtk+ 3.0 version - 3.22.21-1.1
 * Desktop environment - Gnome

**Is this issue an Icon Request?**
No
_Please note that Icon Requests are considered low-priority. We recommend submitting Icon Requests directly to [upstream Papirus](https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/issues)_

**Pop version (if you knew)**

**Relat

[2017-10-02 05:07] SmartFinn commented on #16
`make install` can't be used for the upgrade. The correct command is `make uninstall install post-install`.

[2017-10-02 12:16] insanerwayner commented on #16
This is a fresh install. I've even deleted the Pop folder under icons after trying the first time.

[2017-10-02 12:22] insanerwayner commented on #16
Tried that nonetheless. Got the same error.

[2017-10-02 20:33] skulkingfox opened #17 "Numbers appear to render in different sizes"
**Reporter info**

**Related Application and/or Shell theming (or name of widget)**

Occurs across applications (Chrome, Settings, etc)

**Actual issue**

Font size appears mismatched in certain situations.

![screenshot from 2017-10-02 13-32-30](https://user-images.githubusercontent.com/8932534/31098032-331a77d4-a776-11e7-8a82-d706880b1f71.png)
![screenshot from 2017-10-02 13-30-09](https://user-

[2017-10-02 21:45] isantop commented on #17
This is actually a feature of some fonts, including Fira, where some letters use ascenders and others use decenders. https://en.wikipedia.org/wiki/Text_figures

[2017-10-02 21:45] #17 closed

[2017-10-03 02:15] WatchMkr commented on #15
@jbicha we think that's because VMs disable animations so you weren't seeing it spin.

After more discussion we agreed it's placement is out of context and we're considering removing the spinner in the header bar and adding it where items are loading for better contextual feedback. We'll talk with the elementary folks to see if they agree as well.

[2017-10-03 02:19] jbicha commented on #15
Yes, I was using VirtualBox since my primary OS is regular Ubuntu 17.10.

[2017-10-03 15:33] cassidyjames commented on #15
@jbich @WatchMkr I can confirm that GTK animations are disabled across the board in VirtualBox.

[2017-10-08 12:15] mrjayviper opened #18 "pop-fonts: doesn't show under Ubuntu GNOME 16.04"
so I installed pop-theme and it included the pop-fonts. I opened up tweak-tool=>fonts but nothing shows up when I search for "pop".

Perhaps I'm doing it wrong? Please help

Thanks!

[2017-10-31 16:09] isantop opened #21 "Upstream application icons and branding should be respected"
_From @chergert on September 29, 2017 10:31_

 * Distribution - [Pop!_OS Intel ISO](https://d1vhcvzji58n1j.cloudfront.net/pop-os/iso/beta/27/pop-os_amd64_27.iso), 17.10
 * pop-icon-theme

**Issue/Bug Description**

The `pop-icon-theme` is overriding the branding of [Builder](https://wiki.gnome.org/Apps/Builder). Our application icon is our branding and having it overridden by default is not helpfu

[2017-10-31 16:09] isantop commented on #21
_From @jackpot51 on September 29, 2017 14:33_

Thanks for reporting this. We will discuss your suggestion of moving application icons to a separate package, thus using the default icon for most applications.

[2017-11-05 17:09] chrisjbillington opened #22 "Limited usefulness of emblems for e.g. version control"
Here's a screenshot of nautilus in a mercurial repository with the tortoisehg nautilus plugin adding emblems to the icons:

![image](https://user-images.githubusercontent.com/1044087/32417053-5844a14a-c221-11e7-9b01-4f983fdb329c.png)

Can you see which file has changed?

Here's a screenshot with a different icon theme:

![image](https://user-images.githubusercontent.com/1044087/32417071-a6d5c8ac-c

[2017-11-06 18:35] chrisjbillington commented on #22
Ah, fantastic, thank you very much for making the change :)

[2017-11-06 19:16] brs17 commented on #22
Hello @chrisjbillington! Could you please download the below file, decompress the .deb, install the deb(clicking on it should work just fine), logout/reboot and tell me if this fixes this bug?

[pop-icon-theme_1.1.13~1509991727~17.10~eac208a80ee2009b01cd16edd75977c07b899455_all.zip](https://github.com/pop-os/icon-theme/files/1447462/pop-icon-theme_1.1.13.1509991727.17.10.eac208a80ee2009b01cd16edd7

[2017-11-06 20:03] chrisjbillington commented on #22
Thanks, I've tested it it looks pretty good! Here is a screenshot:

![image](https://user-images.githubusercontent.com/1044087/32460238-238bd006-c300-11e7-981d-f4806e8486f5.png)

The red on the "ignored" files is probably too much - it looks like something very dramatic when actually these are the least important files. But actually it seems like the tortoisehg plugin is maybe abusing that emblem,

[2017-11-06 20:48] isantop commented on #22
Yeah, since the emblem they use generally indicates an error, that's why it was set as red. The specific plugin can choose which emblems to use to indicate which statuses, and in this case emblem-imformation might be a better choice (blue color, plus the icon is literally an i). No emblems would also be a good option, since the lack of an emblem generally indicates it isn't managed.

All of the `v

[2017-11-06 20:51] chrisjbillington commented on #22
Ah, ok, great. All sounds great to me then!

[2017-11-06 20:51] isantop commented on #22
/me pokes @brs17

[2017-11-06 21:04] #22 closed

[2017-11-06 21:50] isantop commented on #18
The Pop Fonts are 'Fira Sans' and 'Roboto Slab'.

[2017-11-06 21:50] #18 closed

[2017-11-29 16:26] isantop commented on #14
This was fixed long ago.

[2017-11-29 16:26] #14 closed

[2017-11-29 16:26] #13 closed

[2017-11-30 15:58] DarthWound opened #24 "Stay up-to-date with upstream"
Hello, I know it's time consuming but upstream Papirus team add a lot of new icons very often, it would be great for everybody if Pop could follow that, even if it's only once a week or something like that. Thank you :)

[2017-11-30 16:21] isantop commented on #24
We generally try to keep up to date with each new release. There may be exceptions where a new icon is present in upstream, but otherwise we'll try to keep a stable base between releases.

[2017-11-30 16:26] DarthWound commented on #24
Thanks. Can't wait for next update then, since upstream added a lot of nice requests :)

[2017-11-30 16:26] #24 closed

[2018-01-26 19:51] danrabbit commented on #28
Another option might be "channel-secure"

[2018-01-26 20:09] cassidyjames commented on #28
Welp, we changed to using the FD.o `security-high` in the installer which also works well in Pop!

![image](https://user-images.githubusercontent.com/611168/35458550-0867a938-029a-11e8-850b-eefb5bec17d9.png)

It might still be worth symlinking, but it's less of a big deal now.

[2018-01-26 20:31] WatchMkr commented on #28
I imagine this will move to an image that Kate creates matching the rest of the Pop installer artwork.

[2018-01-27 22:06] cassidyjames commented on #28
Yeah, I had mentioned that in Slack, but using more standardized icon names in both the installer and our icon theme is a good goal.

[2018-04-23 14:29] ArvindNair001 opened #30 "Installation failed [Makefile Error]"
**Reporter info**

 * Distribution - Fedora 27
 * Gtk+ 3.0 version - 3.22.26-2
 * Desktop environment - GNOME 3.26

**Steps to reproduce (if you knew)**
sudo make install
sudo make post-install
![screenshot from 2018-04-23 19-45-19](https://user-images.githubusercontent.com/21971773/39132827-62261f1a-4730-11e8-94b1-5a957cbeed71.png)

[2018-04-23 19:54] isantop commented on #30
I don't think that actually affects the installation of the theme. Can you select the icons in Tweak tool?

[2018-04-23 20:11] Tids commented on #30
Not all Icons where loaded. For Example, corebird is back to its papirus icon, the same with gnome-web. Both of them also dont have to colorpalett of pop, but the default papirus one

![gnome-shell-screenshot-ux0ihz](https://user-images.githubusercontent.com/18744080/39150601-2a8c3fea-4743-11e8-80f3-8ea210de7f73.png)

[2018-05-01 12:49] xylosper opened #31 "A question about license"
I can see that pop icon theme is based on papirus from README.md and papirus is distributed under GPL.
As far as I know, any work based on GPLed library should be redistributed under GPL but pop icon them is distributed under LPGL.

Is this license change approved by the original author?

[2018-05-01 13:08] SmartFinn commented on #31
Papirus was distributed under LGPL-3 until January 10, 2018. After that issue PapirusDevelopmentTeam/papirus-icon-theme#1049 we changed the license to GPL-3 and forget notify the pop-icon-theme. This is our fault.

[2018-05-01 15:52] xylosper commented on #31
You mean that license notes in this repo are out-dated and pop icon theme follows GPL now?

[2018-05-01 15:54] SmartFinn commented on #31
@xylosper I just answered this question.

[2018-05-02 05:32] xylosper commented on #31
I'm very sorry for my bad reading.

Do you mean that the author of pop icon theme is the author of Papirus?
In that case, is pop-icon-theme free from the license issue which made Papirus GPL?
As far as I can tell, many AUTHOR files in pop-icon-theme refer GPL.

No offense here. I just want to make sure of your meaning because I am not good at English and I don't want to misunderstand it.

[2018-05-02 23:35] xylosper commented on #31
@jackpot51 Thank you for clear answer..

[2018-05-03 00:39] jackpot51 commented on #31
Leaving open until fix is complete

[2018-05-09 03:49] VanackSabbadium commented on #30
Hi, i've got the same issue and i can't select the icons in my tweak tool.

Distribution: Ubuntu 18.04
Desktop environment: XFCE 4.12

Thanks for your help.

[2018-05-16 08:26] drakkan commented on #30
Hi, the same issue happen on archlinux with gnome 3.28

[2018-05-18 20:17] brs17 commented on #21
We want to maintain a consistent user experience and feel that the icon-theme helps in that regard.

[2018-05-19 19:48] snwh commented on #21
FWIW, a consistent specific look and feel for Pop!_OS can be achieved without a total-coverage icon theme.

A solution would be to strip all icons that impact third-party applications from the theme leaving what constitutes a "core" icon set behind–this would leave something like all folders and system icons in place.

An "extension" of the icon theme could then be provided that users can optional

[2018-05-19 19:55] jackpot51 commented on #21
@brs17 we did not make a final decision on this, I am reopening

[2018-05-21 16:41] jackpot51 commented on #21
@chergert I am working on this now

[2018-05-21 19:54] jackpot51 commented on #21
I have a PR, #33, that addresses the GNOME Builder icon by blacklisting it from the installed by default package. We will need to create either a whitelist of application icons we want to include, or update this blacklist of applications we do not want to include.

[2018-06-18 22:38] cassidyjames opened #34 "system-reboot-symbolic"
The FD.o spec is `system-reboot`, not `system-restart`. The Pop! icons currently provide `system-restart-symbolic`, but not `system-reboot-symbolic`. We should symlink the more spec-compliant version, then we can use it in the installer.

[2018-06-19 10:12] SmartFinn commented on #34
Added to the upstream https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/commit/f39fbfc13f4faca8116976037556b80bd9d01888

[2018-08-08 21:30] isantop commented on #35
Per #21 we won't be including upstream application icons in future releases. We'll have another look at this issue once that has taken place.

[2018-08-18 12:54] aral commented on #21
I was just about to open an issue about this as the Builder icon is not consistent with the rest of the icons.  It’s an eye sore next to the rest of the flat icons. Please reconsider blacklisting it.

[2018-08-18 12:57] aral commented on #35
So, basically, you’re reverting the visual consistency of the operating system because “upstreams”.

Upstreams are an implementation detail. Inconsistency is the #1 problem on desktop Linux today – it’s sad to see a step backwards on addressing it.

[2018-08-18 14:35] jackpot51 commented on #21
@aral install the `pop-icon-theme-extra` package

[2018-08-19 19:03] aral commented on #21
@jackpot51 Thanks, I can easily do that. My point was about the overall consistency of the OS. People shouldn’t have to install a separate package to get consistency.

[2018-08-19 20:55] chergert commented on #21
@aral As the upstream author of Builder, I don't want my applications branding overridden by default. I want all of the Builder materials and web properties to match so people know things are correct as they move between applications and external product materials.

It's very much fine for users to change things if they wish, because they are aware of the difference.

[2018-08-19 21:34] jackpot51 commented on #35
@isantop upstream application icon replacements are meant to be in the Pop-Extra theme, if we need to remove them by default.

[2018-09-17 21:12] isantop commented on #38
What is the pixel size that the cursors need to be at in order to scale correctly? And are there any special naming notes about the different sizes of cursors?

[2018-09-18 21:55] thomas-zimmerman commented on #38
Working with David, it looks like we need 96pt, 144pt and 288pt versions. It looked like X would scale down larger cursors files if we supplied them.

[2018-09-20 15:35] isantop commented on #38
@djordan2 Do you know if we supply one set of cursors at 288px, would those be correctly scaled to smaller sizes, or do the smaller sizes need to be provided explicitly?

[2018-11-14 18:41] mmstick opened #39 "Move distributor-logo.svg to distributor-logo-popos.svg and symlink"
We have a `distributor-logo.svg` file, but we should also include our logo alongside other existing distributor logos, so that applications can display our logo when requested (idea for the installer).

![screenshot from 2018-11-14 11-39-56](https://user-images.githubusercontent.com/4143535/48504468-171aa180-e802-11e8-94b9-0151ee5b6c8f.png)

[2018-11-14 21:45] evertiro commented on #39
I'd suggest also adding an OSX logo, and a generic Linux logo (aka, tux) for anything that is a verified Linux distro without its own logo.

[2018-11-14 21:50] mmstick commented on #39
We do have a `tux.svg` icon that works for that purpose. Seems odd that Papirus doesn't already include a  `-macos` and `-linux` icon by default, though.

[2018-11-26 02:56] #39 closed

[2018-11-27 16:46] ocafebabe opened #41 "Unable to locate package pop-icon-theme"
**Reporter info**

 * Distribution - Linux Mint 18.3 Sylvia
 * Gtk+ 3.0 version - 3.18.9-1ubuntu3.3
 * Desktop environment - Cinnamon

**Actual issue**

[code]

**Steps to reproduce (if you knew)**

[code]

[2018-11-30 16:04] karanrajpal14 commented on #41
Same issue here. Don't the packages listed in the PPA either. They must've moved them I reckon.

[2018-11-30 17:55] jackpot51 commented on #41
We no longer have packages for 16.04 in the PPA. Please update to a newer release of your distribution.

[2018-11-30 17:55] #41 closed

[2018-12-12 23:10] jatin-cbs opened #42 "Not working on openSUSE"
Im using openSUSE leap 15.0 with gnome and i installed it and ran make file, it does not complete. Is there no repository for openSUSE, you can create it on OBS (open suse build service) thanks.

[2018-12-12 23:17] jatin-cbs commented on #16
i also was not able to on my Leap 15.0, i dont know why they dont provide repository using OBS or others for openSUSE, i guess they want to promote ubuntu based because of Pop OS.

[2018-12-13 01:58] jatin-cbs commented on #42
this is not a duplicate, tumbleweed and leap are totally 2 different operating systems why you close when you are not sure seriously ?

[2018-12-13 17:07] isantop commented on #42
@jatin-cbs What build error are you getting? Even if Leap and Tumbleweed are different OSs, if you're getting the same error as in #16 then the issue is the same.

[2019-01-06 20:00] Lt-Mayonesa commented on #30
Hi! the same happened to me (Linux Mint 19.1, Cinnamon 4.0)

This happens due to this file [./Papirus/24x24/places/user-yellow-desktop (copy).svg](https://github.com/pop-os/icon-theme/blob/master/Papirus/24x24/places/user-yellow-desktop%20(copy).svg).

It seems that `gtk-update-icon-cache` does not support spaces in file names.

By removing it and running the command again it worked like a charm.

[2019-03-16 17:32] soullivaneuh opened #47 "Make releases?"
Are you interested to make releases of your icon set?

It could help for distribution across package managers: https://github.com/void-linux/void-packages/issues/9875

Regards

[2019-03-18 15:45] #30 closed

[2019-03-28 19:06] arcruz0 opened #48 "panel/caffeine-cup* are vertically misaligned"
**Reporter info**

 * Distribution - Pop!_OS 18.10
 * Gtk+ 3.0 version - 3.24.4-0ubuntu1
 * Desktop environment - Gnome

**Related Application and/or Shell theming (or name of widget)**

Caffeine Gnome Shell Extension

**Actual issue**

The icons (with caffeine on or off) are vertically misaligned in the panel:

![Screenshot from 2019-03-28 15-51-49](https://user-images.githubusercontent.com/28851

[2019-03-31 19:18] brs17 commented on #48
This sounds like an issue with the Caffeine extension, not Pop!_OS. Additionally it looks like the Caffeine extension is no longer being maintained: https://github.com/eonpatapon/gnome-shell-extension-caffeine . Maybe there is a similar extension that is currently being maintained that does not have this issue.

[2019-03-31 19:18] #48 closed

[2019-04-09 15:36] brs17 opened #8 "Icons missing in installer"
**Reporter info**

 * Distribution - (run ```lsb_release -a```)
 * Gtk+ 3.0 version - (run ```apt policy libgtk-3-0```) 3.24.7-1ubuntu1
 * Desktop environment - GNOME

**Pop version (if you knew)**
Pop!_OS 19.04 debug iso 19

**Related Application and/or Shell theming (or name of widget)**
pop-installer

**Actual issue**
There are a few missing icons in the installer as seen in the screenshots bel

[2019-04-09 15:36] brs17 opened #49 "Icons missing in installer"
**Reporter info**

 * Distribution - (run ```lsb_release -a```)
 * Gtk+ 3.0 version - (run ```apt policy libgtk-3-0```) 3.24.7-1ubuntu1
 * Desktop environment - GNOME

**Pop version (if you knew)**
Pop!_OS 19.04 debug iso 19

**Related Application and/or Shell theming (or name of widget)**
pop-installer

**Actual issue**
There are a few missing icons in the installer as seen in the screenshots bel

[2019-04-09 16:06] brs17 opened #7 "Gnome-online-accounts is lacking the Microsoft exchange icon"
**Reporter info**

 * Distribution - (run ```lsb_release -a```)
 * Gtk+ 3.0 version - (run ```apt policy libgtk-3-0```) 3.24.7-1ubuntu1
 * Desktop environment - GNOME

**Pop version (if you knew)**
Pop!_OS 19.04 iso19

**Related Application and/or Shell theming (or name of widget)**
gnome-online-accounts

**Actual issue**
The Microsoft Exchange icon is missing.

![microsoft_exchange](https://user-

[2019-04-09 16:06] brs17 opened #51 "Gnome-online-accounts is lacking the Microsoft exchange icon"
**Reporter info**

 * Distribution - (run ```lsb_release -a```)
 * Gtk+ 3.0 version - (run ```apt policy libgtk-3-0```) 3.24.7-1ubuntu1
 * Desktop environment - GNOME

**Pop version (if you knew)**
Pop!_OS 19.04 iso19

**Related Application and/or Shell theming (or name of widget)**
gnome-online-accounts

**Actual issue**
The Microsoft Exchange icon is missing.

![microsoft_exchange](https://user-

[2019-04-09 16:22] jackpot51 commented on #7
Exactly as planned :smile:

[2019-04-09 16:52] jackpot51 opened #52 "19.04: About page shows Ubuntu icon"
![Screenshot from 2019-04-09 10-51-04](https://user-images.githubusercontent.com/7741236/55819210-7e890480-5ab5-11e9-8cb4-976caddfeb2c.png)

[2019-04-09 16:59] brs17 commented on #52
Duplicate of https://github.com/pop-os/icon-theme/issues/50

[2019-04-09 16:59] #52 closed

[2019-04-09 16:59] isantop commented on #50
The icon being requested is called "ubuntu-logo-icon"
![Screenshot from 2019-04-09 10-58-56](https://user-images.githubusercontent.com/5883565/55819674-8dbc8200-5ab6-11e9-9275-bbd932d37e0e.png)

The Pop_OS logo is present as distributor logo

[2019-04-10 00:34] brs17 opened #6 ""About" icon for settings tab is a '?'"
**Reporter info**

 * Distribution - (run ```lsb_release -a```)
 * Gtk+ 3.0 version - (run ```apt policy libgtk-3-0```) 3.24.7-1ubuntu1
 * Desktop environment - GNOME

**Pop version (if you knew)**
Pop!_OS 19.04 iso19

**Related Application and/or Shell theming (or name of widget)**
gnome-control-center

**Actual issue**
The `About` icon seen in gnome-control-center and when searching for the `Abo

[2019-04-10 13:22] brs17 opened #5 "Monochromatic icons present amongst multi-colored icons"
**Reporter info**

 * Distribution - (run ```lsb_release -a```)
 * Gtk+ 3.0 version - (run ```apt policy libgtk-3-0```) 3.24.7-1ubuntu1
 * Desktop environment - GNOME

**Pop version (if you knew)**
Pop!_OS 19.04 iso19

**Potential issue**
NetworkManager, Language Support, and GNOME Screenshot all have (monochromatic) white icons when all of the other apps are multicolored. These three apps seem ou

[2019-04-10 13:22] brs17 opened #57 "Monochromatic icons present amongst multi-colored icons"
**Reporter info**

 * Distribution - (run ```lsb_release -a```)
 * Gtk+ 3.0 version - (run ```apt policy libgtk-3-0```) 3.24.7-1ubuntu1
 * Desktop environment - GNOME

**Pop version (if you knew)**
Pop!_OS 19.04 iso19

**Potential issue**
NetworkManager, Language Support, and GNOME Screenshot all have (monochromatic) white icons when all of the other apps are multicolored. These three apps seem ou

[2019-04-10 13:43] brs17 opened #4 "Certain programs open with different icon than when selected"
**Reporter info**

 * Pop!_OS 19.04
 * Gtk+ 3.0 version - (run ```apt policy libgtk-3-0```) 3.24.7-1ubuntu1
 * Desktop environment - GNOME

**Pop version (if you knew)**
Pop!_OS 19.04 iso19

**Actual issue**
When opening any of the following applications, the icon that appears on the favorites bar is different than the icon in the Activities (applications) list. My thought is that there is a missi

[2019-04-10 14:08] brs17 opened #59 "Gnome-control-center displays wrong icon theme"
**Reporter info**

 * Distribution - (run ```lsb_release -a```) Pop!_OS 19.04
 * Gtk+ 3.0 version - (run ```apt policy libgtk-3-0```) 3.24.7-1ubuntu1
 * Desktop environment - GNOME

**Pop version (if you knew)**
Pop!_OS 19.04 iso19

**Related Application and/or Shell theming (or name of widget)**
gnome-control-center

**Actual issue**
Throughout gnome-control-center, there are numerous locations w

[2019-04-10 15:03] jackpot51 commented on #59
Duplicate of https://github.com/pop-os/icon-theme/issues/58

[2019-04-10 15:03] #59 closed

[2019-04-10 15:04] jackpot51 commented on #56
Duplicate of https://github.com/pop-os/icon-theme/issues/58

[2019-04-10 15:04] jackpot51 commented on #54
Duplicate of https://github.com/pop-os/icon-theme/issues/58

[2019-04-10 15:04] jackpot51 commented on #53
Duplicate of https://github.com/pop-os/icon-theme/issues/58

[2019-04-10 15:05] jackpot51 commented on #4
My guess is that some cache needs to be rebuilt for the icons to look right in the ISO. They look right on upgrades from 18.10 to 19.04

[2019-04-10 15:29] jackpot51 commented on #4
It looks like gnome-shell is looking for icons only in the `scalable` folder, for reasons not yet known

[2019-04-10 17:26] brs17 opened #3 "Missing "Report a Problem" icon in Pop!_Shop"
**Reporter info**

 * Pop!_OS 19.04
 * Gtk+ 3.0 version - (run ```apt policy libgtk-3-0```) 3.24.7-1ubuntu1
 * Desktop environment - GNOME

**Pop version (if you knew)**
Pop!_OS 19.04 iso19

**Related Application and/or Shell theming (or name of widget)**
Pop!_Shop

**Actual issue**
The "Report a Problem" icon is missing.
19.04:
![report_a_problem](https://user-images.githubusercontent.com/7460774

[2019-04-10 17:26] brs17 opened #60 "Missing "Report a Problem" icon in Pop!_Shop"
**Reporter info**

 * Pop!_OS 19.04
 * Gtk+ 3.0 version - (run ```apt policy libgtk-3-0```) 3.24.7-1ubuntu1
 * Desktop environment - GNOME

**Pop version (if you knew)**
Pop!_OS 19.04 iso19

**Related Application and/or Shell theming (or name of widget)**
Pop!_Shop

**Actual issue**
The "Report a Problem" icon is missing.
19.04:
![report_a_problem](https://user-images.githubusercontent.com/7460774

[2019-04-10 18:36] brs17 opened #2 "Update README for v2 icon set"
**Actual issue**
It would be nice to have an updated README which includes images of the icons. Currently the only reference I have for what the new icons (are supposed to) look like, would be to go through and open images individually.

README should probably also be updated to remove reference to upstream Papirus.

[2019-04-10 18:36] brs17 opened #62 "Update README for v2 icon set"
**Actual issue**
It would be nice to have an updated README which includes images of the icons. Currently the only reference I have for what the new icons (are supposed to) look like, would be to go through and open images individually.

README should probably also be updated to remove reference to upstream Papirus.

[2019-04-11 00:10] brs17 opened #1 "gnome-initial-setup monitor icon is very pixelated and unclear"
**Related Application and/or Shell theming (or name of widget)**
gnome-initial-setup

**Actual issue**
The image on the right is supposed to be a monitor but is very blurry and not clearly a monitor.
![Screenshot from 2019-04-10 17-16-15](https://user-images.githubusercontent.com/7460774/55921856-d7db5b80-5bbb-11e9-8b1b-87c84a087ce5.png)

This is the case with or without https://github.com/pop-os/

[2019-04-11 16:30] isantop commented on #1
Fixed with #65 :

![Screenshot from 2019-04-11 10-28-20](https://user-images.githubusercontent.com/5883565/55974436-dd30b880-5c44-11e9-9b85-f22820ccd31d.png)

[2019-04-11 16:32] isantop commented on #3
It looks like we're missing that icon in both the old theme and the new one. I'll get one made up for the new theme, and can address the missing icon in the old version at a later date.

[2019-04-11 16:43] brs17 commented on #1
Which pr @isantop ?

[2019-04-11 16:54] isantop commented on #1
@brs17 This has been fixed at this point.

[2019-04-11 16:54] #1 closed, assigned to nobody

[2019-04-11 16:56] isantop commented on #4
This has been fixed as of 279cbc872bd52da21b04a8a8ab3f84642517af49

[2019-04-11 16:56] #4 closed, assigned to nobody

[2019-04-11 16:56] isantop commented on #5
This was fixed by 279cbc872bd52da21b04a8a8ab3f84642517af49

[2019-04-11 16:56] #5 closed, assigned to nobody

[2019-04-11 17:07] isantop commented on #7
Curious that Adwaita seems not to include this icon as well.

[2019-04-11 19:48] #7 closed, assigned to isantop

[2019-04-11 19:59] isantop opened #26 "Design Feedback"
Issues to be addressed as per design feedback with Kate:

- [x] Calculator icon needs to have the buttons pulled in towards the center.
- [x] Home Folder Subdirs Icons should have the symbolic overlays centered and made slightly smaller
- [x] Pictures Symbolic icon needs redesign
- [x] Generic Picture mimetype icon needs to be updated with new symbolic
- [x] Desktop icon should be made a folder wi

[2019-04-11 21:51] #6 closed, assigned to nobody

[2019-04-11 23:20] brs17 opened #27 "Icons in app menu are Adwaita's icon theme"
**Pop version (if you knew)**
Pop!_OS 19.04: 2.0.0...279cbc8

**Actual issue**
The icon that appears next to the app menu is a black and white Adwaita icon and not an icon from pop-icon-theme.

![screenshot](https://user-images.githubusercontent.com/7460774/55998980-f4d86300-5c7d-11e9-939a-94e50bbbee95.png)
![screenshot2](https://user-images.githubusercontent.com/7460774/55998979-f4d86300-5c7d-11e

[2019-04-12 14:41] brs17 opened #28 "Terminal and screenshot icons are very similar"
**Pop version (if you knew)**
19.04

**Actual issue**
The terminal and screenshot icons look very similar and seeing that they are not very similar/related applications ("Disk usage analyzer" and "Disks"), I do not think it makes sense and is just confusing.

![terminal_screenshot](https://user-images.githubusercontent.com/7460774/56045540-aae39180-5cfe-11e9-8e4e-14d7663a9400.png)

[2019-04-12 22:18] brs17 commented on #28
Discussed here: https://github.com/pop-os/icon-theme/issues/26

[2019-04-12 22:18] #28 closed, assigned to nobody

[2019-04-15 21:01] isantop commented on #27
Some applications don't have symbolic icons in the current version of the theme. I think the best way around this given the time available would be to use full-color icons in the App menu

[2019-04-15 21:21] isantop commented on #8
Addressed in 63f39d284e97ce52650145a422357cc8bb19e98a

We will need to have a better fix for the long run, as this includes a themed icon for gcleaner as-is. However, in the interest of releasing on time, that is acceptable.

![Screenshot from 2019-04-15 15-17-47](https://user-images.githubusercontent.com/5883565/56166171-1e510180-5f92-11e9-9067-eab76e7c75db.png)

[2019-04-15 21:25] isantop commented on #28
For reference, the screenshot icon (and other display-related icons) get a fun, Pop-y blue screen background, as so:

![Screenshot from 2019-04-15 15-24-32](https://user-images.githubusercontent.com/5883565/56166403-c2d34380-5f92-11e9-91f0-1e61b66f0497.png)

[2019-04-16 00:35] #26 closed, assigned to isantop

[2019-04-16 17:24] #8 closed, assigned to isantop

[2019-04-16 21:05] euh2 opened #33 "Different colour on folder icons."
**Reporter info**

 * Distribution - (run ```lsb_release -a```)
[code]
 * Gtk+ 3.0 version - (run ```apt policy libgtk-3-0```)
```3.22.30-1ubuntu2```
 * Desktop environment -
```Gnome Shell```
**Is this issue an Icon Request?**
No

**Pop version (if you knew)**
```pop-icon-theme 1.3.0~1552923922~18.04~6eb0b83```

**Actual issue**
I wounder if it is possible to have a different colour on the folder

[2019-04-17 16:54] #2 closed, assigned to nobody

[2019-04-17 17:02] brs17 opened #35 "Nautilus icon is consumed in `Alt`+ `tab` menu"
**Reporter info**

 * Distribution - (run ```lsb_release -a```) Pop!_OS 19.04
 * Gtk+ 3.0 version - (run ```apt policy libgtk-3-0```) 3.24.8-1ubuntu1
 * Desktop environment - GNOME

**Actual issue**
When Nautilus is selected in the `Alt`+`Tab` menu the icon is "swallowed up" by the surrounding blue highlight.

![Screenshot from 2019-04-17 10-51-12](https://user-images.githubusercontent.com/7460774

[2019-04-17 19:50] brs17 opened #36 "Update issue template to point user to `/etc/os-release`"
**Actual issue**
Most everywhere we point people to the PRETTY_NAME in `/etc/os-release` for what OS is being run. Currently we are listing `lsb_release -a` which provides an incorrect value in 19.04.

[2019-04-23 09:07] loxK commented on #27
This and many things I am very disappointed with the massive changes in the icon theme. It looks so mismatched.

[2019-04-23 19:58] kmanev073 opened #37 "Update from 18.10 to 19.04 Changed Icons"
Hi guys,

After I updated my Pop from 18.10 to 19.04 the icons were set to the default ubuntu icons. I tried to install the pop icons but it turned out I have them installed. Is there any way to enable them back? Also it seems some colors changed and I am missing the "organize desktop by name" feature.

Hope someone can suggest a solution. Thanks in advance!

[2019-04-24 16:03] jackpot51 commented on #36
Well, it's right now

[2019-04-24 16:04] jackpot51 commented on #36
But it would still be better to use /etc/os-release

[2019-04-30 20:12] cbb330 commented on #37
Having this issue as well. It would be great to have tags on this repository so that we could roll back easily.

[2019-04-30 20:15] mmstick commented on #37
See https://pop-planet.info/forums/projects/pop-classic.3/

[2019-04-30 20:15] #37 closed, assigned to nobody

[2019-05-01 16:31] #3 closed, assigned to nobody

[2019-05-01 16:45] brs17 opened #38 "Icons for switching between screenshots are missing in Pop!_Shop"
**Reporter info**

 * Distribution - (run ```lsb_release -a```)  - Pop!_OS 19.04
 * Gtk+ 3.0 version - (run ```apt policy libgtk-3-0```) - 3.24.8-1ubuntu1
 * Desktop environment - GNOME

**Pop version (if you knew)**
Pop!_OS 19.04

**Related Application and/or Shell theming (or name of widget)**
Pop!_Shop

**Actual issue**
The icons for switching between screenshots is missing.
![shop_icon](https:

[2019-05-02 13:48] BaronKrause opened #40 "Missing all icons in Quassel Client"
When I install Quassel Client from the pop shop on Pop!_OS 19.04 (and 18.10) I noticed that all icons seem to be missing from the  main interface. When running it via command line the following is dumped out:

chris@pop-os:~$ quasselclient
2019-05-02 09:17:03 [Warn ] Missing icon: "{network-connect}"
2019-05-02 09:17:03 [Warn ] Missing icon: "{network-disconnect}"
2019-05-02 09:17:03 [Warn ] Missi

[2019-05-03 19:29] BaronKrause commented on #40
This can be closed, after testing in a fresh install VM and seeing that it wasn't having this issue, the problem ended up being another piece of software that I had on all my test environments (qt5ct) where an icon theme wasn't selected. When breeze or breeze dark was selected as the QT icon theme in there, all the mentioned issues went away.

[2019-05-03 19:29] #40 closed, assigned to nobody

[2019-05-09 15:38] #35 closed, assigned to nobody

[2019-05-29 15:48] isantop commented on #38
Addressed in #42

[2019-05-31 14:09] v-marinkov opened #43 "Volume over-amplification icon broken"
**Reporter info**

 * Distribution - (run ```lsb_release -a```)
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Pop!_OS 19.04
Release:	19.04
Codename:	disco

 * Gtk+ 3.0 version - (run ```apt policy libgtk-3-0```)
libgtk-3-0:
  Installed: 3.24.8-1ubuntu1
  Candidate: 3.24.8-1ubuntu1
  Version table:
 *** 3.24.8-1ubuntu1 500
        500 http://it-mirrors.evowise.com/ubuntu disco/m

[2019-06-04 13:48] #38 closed, assigned to nobody

[2019-06-06 16:24] isantop commented on #43
This is the expected Icon in the new theme. The old one doesn't really communicate what's going on, and the new one is intended to indicate that something may be broken with the volume set at this level.

[2019-06-06 16:30] v-marinkov commented on #43
I am sorry, but this icon seems very odd. It has straight lines for the over-amplification portion while the normal range is shown with curves. It looks like there's another ghostly icon peeking underneath it. I don't think it suggests that anything else is broken but the icon itself.

[2019-06-06 17:20] WatchMkr commented on #43
@isantop let's not change the icon when the volume is amplified. The line changing to red is sufficient and cleaner.

[2019-06-06 19:01] v-marinkov commented on #43
@WatchMkr that's better than the current icon, but I still think an additional visual cue would help. For instance, the jump in the wave portion of the icon on Adwaita immediately alerts you that you are going in over-amplification while the red indicator is easy to miss.

The classic Pop jumps both at the speaker and wave portions and it is not pleasant. The current Pop looks broken. In this case

[2019-06-14 16:19] kashkama opened #45 "Installation on other distros fedora, arch, centos"
**Reporter info**

 * Distribution - (run ```lsb_release -a```)
 * Gtk+ 3.0 version - (run ```apt policy libgtk-3-0```)
 * Desktop environment -

**Is this issue an Icon Request?**

_Please note that Icon Requests are considered low-priority. We recommend submitting Icon Requests directly to [upstream Papirus](https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/issues)_

**Pop version (if

[2019-06-14 16:23] mmstick commented on #45
If you're asking how, instructions are in the README on the front page: https://github.com/pop-os/icon-theme#downloading-pop

[2019-06-20 08:56] kashkama commented on #45
Thanks, For the instructions. Good day

On Fri, Jun 14, 2019 at 7:23 PM Michael Murphy <notifications@github.com>
wrote:

[2019-08-20 18:43] euh2 commented on #33
Meanwhile I use the Numix Icon Theme. Good match with the rest of the theme.

[2019-08-20 19:34] mmstick commented on #33
You can right click an icon in Nautilus, and then select Properties, followed by clicking on the icon, and then choosing the images that you want to use.

[2019-10-01 13:24] brs17 opened #54 "19.10: simple-scan has different icon"
**Distribution (run `cat /etc/os-release`):**
 Pop!_OS 19.10

**Related Application and/or Package Version (run `apt policy $PACKAGE NAME`):**
simple-scan

**Issue/Bug Description:**
In 19.10, `simple-scan` is called the Document Scanner and has a different icon than that was designed for 19.04.

[2019-10-14 23:54] brs17 opened #50 "19.10: Applications without desktop file has blank space as desktop file replacement"
**Reporter info**

 * Distribution - (run ```lsb_release -a```) Pop!_OS 19.10
 * Desktop environment - GNOME

**Actual issue**
In 19.04, when repoman is opened, the favorites dash shows an icon that there is a missing icon. On 19.10, there is no icon on the dash.

19.04:
![1904](https://user-images.githubusercontent.com/7460774/66790067-833ad500-eeab-11e9-8ac1-38cbfbf7ab55.png)

19:10:
![1910](htt

[2019-10-15 17:57] isantop commented on #50
I don't think this is a change with the icon theme, as this also happens with GNOME Icons and there were no changes to the icon theme between 19.04 and 19.10 (apart from #49 ).

[2019-10-16 00:47] brs17 commented on #54
@isantop, have you seen this?

[2019-10-20 20:10] DanyGee opened #53 "Custom folder/files icons are not being set"
**Reporter info**

 * Distribution - (run ```lsb_release -a```)
[code]

 * Gtk+ 3.0 version - (run ```apt policy libgtk-3-0```)
[code]

 * Desktop environment
[code]

**Actual issue**
Cannot set custom folder/file icon on any folder/subfolder in home.

**Steps to reproduce (if you knew)**
As usual, right click on the desired folder, choose properties, click the folder image, select new one, click

[2019-10-27 22:15] DanyGee commented on #53
Reinstalled the whole system fresh and it works again.
Must have been something corrupted in the last install.

[2019-10-27 22:15] #53 closed, assigned to nobody

[2019-11-25 17:27] Cervoxx opened #55 "The @ symbol on the contacts icon in the application launcher has noticeable aliasing"
**Reporter info**

 * Distribution - (run ```lsb_release -a```)
[code]
 * Gtk+ 3.0 version - (run ```apt policy libgtk-3-0```)
[code]
 * Desktop environment - Gnome

**Is this issue an Icon Request?**

No

**Pop version (if you knew)**

19.10

**Related Application and/or Shell theming (or name of widget)**

Contacts

**Actual issue**

The @ symbol on the contacts icon in the application launcher

[2020-01-02 19:31] brs17 opened #56 "Missing icon for selected subwoofer in GNOME Settings"
**Reporter info**

 * Distribution - (run ```lsb_release -a```) - Pop!_OS 19.10
 * Gtk+ 3.0 version - (run ```apt policy libgtk-3-0```) 3.24.12-1ubuntu1
 * Desktop environment - GNOME

**Is this issue an Icon Request?**
This is only an icon request in as much as a missing icon is a request.

**Pop version (if you knew)**
19.10

**Actual issue**
When selecting to test the subwoofer in the Sound tab

[2020-01-09 17:47] isantop commented on #56
Would it be possible to get the icon-name that's being requested here? It can be found by using the GTK inspector to inspect the icon, then looking under Properties at the `icon-name` prop.

[2020-01-11 20:02] Electw opened #58 "Shotwell and Image Viewer app icons are too similar"
**Reporter info**

 * Distribution - (Pop!_OS 19.10)
 * Gtk+ 3.0 version - (3.24.12)
 * Desktop environment - GNOME 3.34.1

**Is this issue an Icon Request?**

Yes

**Pop version (if you knew)**

19.10

**Related Application and/or Shell theming (or name of widget)**

Shotwell, Image Viewer

**Actual issue**

The icons for Shotwell and Image Viewer are way too similar. The only difference between

[2020-01-13 19:28] isantop commented on #58
Shotwell is a 3rd party application and we should not be shipping any icon for it at all. Thanks for bringing this to our attention!

[2020-01-13 19:32] isantop commented on #55
This aliasing is not visible in the actual icon file, only in the Shell. I believe this is a bug with GNOME Shell's icon rendering.

[2020-01-13 19:33] #45 closed, assigned to nobody

[2020-01-15 16:15] #36 closed, assigned to nobody

[2020-01-16 16:22] #54 closed, assigned to nobody

[2020-01-20 16:24] #56 closed, assigned to isantop

[2020-01-29 17:59] #58 closed, assigned to isantop

[2020-01-29 22:00] #27 closed, assigned to nobody

[2020-02-29 21:52] lfom opened #63 "Broken/missing icons for "select screenshot" and "report a problem""
**Distribution (run `cat /etc/os-release`):**
NAME="Pop!_OS"
VERSION="19.10"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Pop!_OS 19.10"
VERSION_ID="19.10"
HOME_URL="https://system76.com/pop"
SUPPORT_URL="http://support.system76.com"
BUG_REPORT_URL="https://github.com/pop-os/pop/issues"
PRIVACY_POLICY_URL="https://system76.com/privacy"
VERSION_CODENAME=eoan
UBUNTU_CODENAME=eoan
LOGO=distributor-logo-pop-

[2020-03-03 16:57] isantop commented on #63
This is an issue with the Icon theme, rather than with Pop-Shop

[2020-03-04 17:42] #63 closed, assigned to isantop

[2020-05-15 19:19] JamesSwift opened #66 "Missing icons on some OSK keys"
**Distribution (run `cat /etc/os-release`):**
NAME="Pop!_OS"
VERSION="20.04 LTS"
ID=pop
ID_LIKE="ubuntu debian"
PRETTY_NAME="Pop!_OS 20.04 LTS"
VERSION_ID="20.04"
HOME_URL="https://system76.com/pop"
SUPPORT_URL="http://support.system76.com"
BUG_REPORT_URL="https://github.com/pop-os/pop/issues"
PRIVACY_POLICY_URL="https://system76.com/privacy"
VERSION_CODENAME=focal
UBUNTU_CODENAME=focal
LOGO=distr

[2020-05-15 19:46] JamesSwift commented on #66
Pop replaces the upstream theme resource with its own, and the keyboard icons aren't included.

https://github.com/pop-os/session/blob/master/usr/share/gnome-shell/modes/pop.json

Thanks to @fmuellner

[2020-05-15 19:50] isantop commented on #66
@JamesSwift Can you link to the upstream bug report on GitLab? I'm not sure what icons need to be included are named, and if it lists them there that saves me from having to dig through the source code to find out what they are called.

[2020-05-15 19:52] JamesSwift commented on #66
Whoops sorry, I thought I had pasted the link. It's here:

https://gitlab.gnome.org/GNOME/gnome-shell/-/issues/2631

[2020-06-12 20:53] brianmsm opened #67 "Dropbox icon tray missing"
**Describe the problem:** The icon systray doesn't appear in bar notifications
![imagen](https://user-images.githubusercontent.com/28207224/84545170-5d790080-acc4-11ea-88a2-e92236f15e21.png)

**Steps to reproduce:**
1. I installed dropbox from Pop!_Shop.
2. Icon in bar doesn't show.

**Distribution:** Pop!_OS 20.04 LTS

**Pop version:** pop-icon-theme 2.1.0

![imagen](https://user-images.githubuse

[2020-08-24 05:46] pongloongyeat commented on #67
Mine seems to be working just fine. I'm on Pop!_OS 20.04 LTS as well.

![image](https://user-images.githubusercontent.com/31680656/91008053-138b8f80-e610-11ea-82cb-0c63aa0a4358.png)

[2020-10-06 09:09] TechnologyMan101 opened #69 "Color Selector Pick Color by clicking object no icon in active hint color"
**(1) Issue/Bug Description:**
The color selector icon for selecting a color by clicking on an object is blank.

**(2) Steps to reproduce (if you know):**
Open active hint color selector. There is no icon.
![Screenshot from 2020-10-06 02-04-01](https://user-images.githubusercontent.com/65311278/95181967-d66efd00-0778-11eb-8061-32941c0871da.png)

**(3) Expected behavior:**
There should be an icon.

[2020-10-06 19:06] jmmaranan commented on #69
Will take a look later tonight. I would assume the color-picker icon is a system symbolic icon

[2020-10-06 19:52] isantop commented on #69
I can confirm this issue is with the icon theme. For some reason, the color-select-symbolic icon is transparent

[2020-10-06 20:16] jmmaranan commented on #69
@isantop - that looks like the case when `Icons` is Pop as shown below.
![image](https://user-images.githubusercontent.com/348125/95255116-e7f2ec00-07ee-11eb-895d-0996f49c576c.png)
But works well when on User Themes extension. Currently on `Tela` icon theme.
![image](https://user-images.githubusercontent.com/348125/95255350-399b7680-07ef-11eb-93ce-bd5b253d74f6.png)

[2020-10-06 21:01] isantop commented on #69
Yes, the icon file for `color-select-symbolic` is just 16x16 fully transparent pixels. In other Icon themes, that bug isn't the case and thus it works correctly.

[2020-10-06 21:30] TechnologyMan101 commented on #69
Yeah, I'm using the Pop icon theme.

![image](https://user-images.githubusercontent.com/65311278/95262159-76ac3c80-07e0-11eb-8eb3-5eaa17a15b0b.png)

[2020-10-07 15:14] #69 closed, assigned to nobody

[2020-10-13 04:37] TechnologyMan101 opened #71 "Other icon themes seem to have higher priority (Affects cursors too)"
**Describe the problem:**
Other icon themes seem to have higher priority than the Pop Icon Theme. This results in other icons being used instead of the ones from Pop Icon Theme even when Pop is selected in GNOME Tweaks. This happens when there is any other icon theme installed. The only one I have tested as of now is `breeze-icon-theme`. This also happens with cursors (no screenshots provided) whe

[2020-10-21 22:39] jacobgkau opened #72 "[20.10] Session action icons are smaller than expected in search results on HiDPI screens"
**Describe the problem:** Certain items, including `Lock Screen`, `Log Out`, `Power Off`, and `Restart`, are smaller than they should be when they appear in the Activities search results:

![icon-screenshot1](https://user-images.githubusercontent.com/7199422/96794037-b0716b80-13ba-11eb-8b52-6ceff5bfd60a.png)

In Pop!_OS 20.04, these icons appear at the same size as the rest of the results.

**Step

[2020-10-22 00:57] jacobgkau commented on #72
It's happening on HiDPI screens (addw2 and bonw14), but not LoDPI screens (gaze15 and galp4).

[2020-10-24 00:51] TechnologyMan101 commented on #72
I noticed this happening at 1024x768.

With Pop theme:
![photo_2020-10-23_17-42-43](https://user-images.githubusercontent.com/65311278/97064046-4393d800-1558-11eb-8187-8586e84d1d85.jpg)

With other theme (Humanity in this case):
![photo_2020-10-23_17-47-14](https://user-images.githubusercontent.com/65311278/97064050-4db5d680-1558-11eb-80f7-ecbcb08189e2.jpg)

Would this be a separate issue?

[2020-10-24 01:53] bryanpaget opened #73 "Mission icon: display-symbolic"
**Description of the problem:**

![image](https://user-images.githubusercontent.com/8212170/97065179-6bf0f600-159b-11eb-981e-d614b2188b00.png)

A non symbolic icon is being used on the "Screen" button in the screenshot app.

**Steps to reproduce:**

1. Open the app.

**Pop version:**

Running Pop 20.10.

GTK Theme version installed: 5.3.0\~1603307552~20.10\~a5e0cc9

[2020-10-26 01:07] TechnologyMan101 commented on #72
This is happening on Ubuntu 20.10 too so it is not specific to Pop.

[2020-10-26 16:54] jacobgkau commented on #72
Comparing my screenshot with your screenshots, that does not look like the same issue unless you're suggesting that all of the other icons are too large and the session icons are not too small (which does not look like the case to me.)

[2020-10-28 09:03] TechnologyMan101 commented on #72
My problem seems kind of weird. It happens randomly and is not consistent. I think that the session icons are the same size as the other oversized icons. I'll see next time it happens again.

[2020-10-29 19:34] bryanpaget commented on #73
I've investigated the issue with GNOME and I think the issue may result from the included `gnome-icon-theme` which is overriding the `display` icon.

See [here](https://gitlab.gnome.org/GNOME/gnome-screenshot/-/issues/125) for more information.

[2020-11-05 03:15] TechnologyMan101 commented on #73
Yes, that is the problem as the file for the icon in the Pop Theme is there. Note that this bug also happens when using Ubuntu with vanilla GNOME too so it is not specific to Pop!_OS.

[2020-11-05 03:16] TechnologyMan101 commented on #73
Basically, it's a problem that seems to come from upstream.

[2020-11-19 03:48] subpop opened #74 "Mismatched icons in Evolution"
Evolution uses what looks like an older set of icons for its toolbar, but two icons are out of place. The New button and the Archive button appear to be using the symbolic icons, while the rest of the toolbar is using others.

![Screenshot from 2020-11-18 22-45-23](https://user-images.githubusercontent.com/153475/99618822-21269a80-29f0-11eb-9020-b303bd19a8ca.png)

**Steps to reproduce:**
1. Instal

[2020-11-19 15:55] amitanilkulkarni opened #75 "Evolution - Icons for "replied" and "read" status have very little distinction"
**Describe the problem:**

There is very little distinction between email that are "replied to", and the ones that were only "read" in status field.

Here's how the two look with Adwaita icons:
![image](https://user-images.githubusercontent.com/5787171/99688737-25b08900-2aac-11eb-89c0-d49c39f087dc.png)

You can very clearly make out the difference between emails that have been read, and the emails

[2020-12-14 01:37] khensunny opened #76 "local install causes cursor issue on wayland"
**Describe the problem:**

A local install (prefix $HOME/.local) has an issue on wayland, the cursor is only correct on the shell but on applications it turns to some ugly looking cursor which I guess is some system fallback. Furthermore, soon as you change the cursor from whatever it was to the locally installed Pop cursor, the shell might crash or some other random app (was gnome-terminal first,

[2021-01-06 20:14] tst05000 opened #79 "Missing Pop!_OS battery icon"
I don't know if this has to do with Arch Linux or with my gnome version but after installing and setting my icon theme as "Pop" every icon at the shell changed to the pop os variant but the battery stayed the stock icon rather than changing into the pop os variant, although i don't know if i'm doing somthing wrong, I did try the AUR but it was the same one and so i tried the git clone and manual i

[2021-01-11 06:18] tst05000 commented on #79
Okay so I realised that theres an extension on guthub called pop battery icon fix which is made by the pop-os team and after installing it rebooting and enabling the extension it basically fixed it so... yeah

[2021-01-11 06:18] #79 closed, assigned to nobody

[2021-01-11 19:04] jacobgkau commented on #79
The extension should not be necessary anymore once https://github.com/pop-os/icon-theme/pull/78 is merged.

[2021-02-01 21:02] jacobgkau opened #80 "GParted menu icons illegible in dark theme"
**Describe the problem:** In GParted, the menu/toolbar icons are nearly illegible due to lack of contrast when using the default Pop Dark GTK theme combined with the default Pop icon theme:
![Screenshot from 2021-02-01 13-49-31](https://user-images.githubusercontent.com/7199422/106517406-ac62e880-6495-11eb-8bb0-49f85c0ce3f1.png)
Switching to the Adwaita icon theme makes the icons legible:
![Screen

[2021-02-06 01:34] PanderMusubi commented on #43
In 20.10 the icon is good when adjusting the normal volume 0 - 100%, but with over amplification 100 - 150% another icon is shown under it which looks like the first image in this issue. Could not capture the current one with GIMP, but looks similar.

[2021-04-28 12:07] bemoty commented on #67
Can confirm, the icon is not there for me either. I'm on Pop!OS 20.10 with the newest available version of the icon theme installed
![image](https://user-images.githubusercontent.com/16725421/116400972-f9532280-a82a-11eb-925e-f691a7411ff1.png)

[2021-06-24 10:00] siddhantladdha commented on #80
Can confirm the same for Pop OS 20.04 LTS. The problem seems to be with icons. I had opened the issue [here](https://gitlab.gnome.org/GNOME/gparted/-/issues/159#note_1185192) but was redirected here.

[2021-06-24 10:27] siddhantladdha commented on #80
To anyone trying to solve this issue on Pop OS, changing the icon theme from "Pop" to "Pop OS Branding" solves the problems. So does using any other default gnome themes (Adwaita, Breeze, HiContrast) solve all the problem for now atleast.

[2021-07-02 19:17] BaronKrause opened #85 ""Solaar" System Tray Battery Icon broken only in Pop Icon Theme"
Ever since the new Pop Icon theme that replaced the older Papirus based one, the Logitech mouse software Solaar's Battery icon in the system tray always uses the default "Copper Top" looking 16x16 png for all battery/charging states. It uses the icon themes own battery icons, and can switch between the old style and the newer symbolic icons with a command switch.

It works as expected with the sys

[2021-07-04 08:00] FlyinPancake commented on #43
I'm really sorry to say this but this icon is half baked and looks truly unprofessional.
The over-amplification is NOT a bug, it's a feature so it does not have to look like a bug in my opinion. Thanks for coming to my TED talk

[2021-08-11 11:06] PanderMusubi commented on #43
This is still an issue for

    No LSB modules are available.
    Distributor ID:	Pop
    Description:	Pop!_OS 21.04
    Release:	21.04
    Codename:	hirsute

with

    libgtk-3-0:
      Installed: 3.24.25-1ubuntu4.1
      Candidate: 3.24.25-1ubuntu4.1
      Version table:
     *** 3.24.25-1ubuntu4.1 500
            500 http://nl.archive.ubuntu.com/ubuntu hirsute-updates/main amd64 Packages

[2021-08-12 01:30] stutzzzz opened #87 "Meld Icons doesn't look good with pop Icon theme"
**Describe the problem:**
Meld Icons doesn't look right with PoP Icon Theme I think these icons are for light not dark themes

**Steps to reproduce:**
1. Open Meld

**Distribution:** PRETTY_NAME="Pop!_OS 21.04"

**Pop version:** Installed: 2.1.0~1626456130~21.04~8e5d8ca

![image](https://user-images.githubusercontent.com/28896682/129124275-37d7fb68-385e-4840-9b60-4eaa782e430d.png)
using default gn

[2021-08-13 13:35] clemans opened #88 "Provide more granular battery charge icons"
**Distribution (run `cat /etc/os-release`):**

NAME="Pop!_OS"
VERSION="21.04"
ID=pop
ID_LIKE="ubuntu debian"
PRETTY_NAME="Pop!_OS 21.04"
VERSION_ID="21.04"
HOME_URL="https://pop.system76.com"
SUPPORT_URL="https://support.system76.com"
BUG_REPORT_URL="https://github.com/pop-os/pop/issues"
PRIVACY_POLICY_URL="https://system76.com/privacy"
VERSION_CODENAME=hirsute
UBUNTU_CODENAME=hirsute
LOGO=distrib

[2021-08-13 13:45] jacobgkau commented on #88
That looks like the `battery-good-charging` icon, which is one step below `battery-full-charging`: https://github.com/pop-os/icon-theme/blob/master/Pop-Dark/24x24/panel/battery-good-charging.svg

All of the icons are located here: https://github.com/pop-os/icon-theme/tree/master/Pop-Dark/24x24/panel

I'm not sure there's anything wrong here, is this a feature request for more fine-grained battery

[2021-08-13 13:52] clemans commented on #88
I suppose it is a feature request if there are only three modes of battery life. When first using my Lemur Pro, the  battery icon  seemed different and expressed better detailed percentages.

[2021-08-13 14:06] jacobgkau commented on #88
The only change to battery icons that I'm aware of would have been when the [battery icon fix extension](https://github.com/pop-os/gnome-shell-extension-pop-battery-icon-fix) was removed: https://github.com/pop-os/session/pull/31 However, that extension doesn't contain any icons, so I don't see how it would have provided further levels.

This doesn't seem related to `system76-power`, so I'm going

[2021-08-14 20:00] clemans commented on #88
Thanks, @jacobgkau for this information and willingness to help me steer this request in the right direction. Cheers.

[2021-09-27 18:36] #88 closed, assigned to nobody

[2021-09-30 15:17] stutzzzz commented on #87
I think I found the arrow icons looking for the Doc Icon Using Icon Browser it appears to be go-previous,next,down,up
![image](https://user-images.githubusercontent.com/28896682/135483425-512a4c4e-c0aa-4dbd-9b85-dcf8ee0ffb01.png)

[2021-09-30 16:46] #43 closed, assigned to nobody

[2021-10-06 17:16] WatchMkr opened #93 "Flameshot notification icon missing"
![Screenshot from 2021-09-30 16-51-53](https://user-images.githubusercontent.com/3430283/136252104-05b44709-f9cd-4632-9fcd-0f601fb96cc2.png)

[2021-10-06 17:20] leviport commented on #93
Huh, mine seems ok. Do you still get the Flameshot appindicator icon?
![flameshot](https://user-images.githubusercontent.com/13512097/136252621-e92262a8-2767-4c5c-9f6b-7ba062162208.png)

[2021-10-08 16:41] isantop commented on #87
Thanks for the report! I looks like Meld is not requesting symbolic icons, which prevents Gtk from re-coloring the Icons dynamically to match the theme. Unfortunately, this issue cannot be fixed in the icon theme, because modifying the icons to have good contrast in the dark theme makes them invisible in the light theme (and vice-versa).

[2021-10-08 16:48] isantop commented on #85
Thanks for your report! Can you post a screenshot showing the breakage that you're seeing with the Pop Icons?

[2021-10-08 16:56] stutzzzz commented on #87
it appears that flatpak version doesn't have as big of an issue compared to the deb.
![image](https://user-images.githubusercontent.com/28896682/136594469-626ad442-2d71-4072-8fa0-cc7488d34c89.png)
looks like its only the arrow icons for previous and next change
![image](https://user-images.githubusercontent.com/28896682/136594824-a2d1c93f-876e-49a2-b0a4-b6cb569a9a87.png)

[2021-10-08 16:57] isantop commented on #80
Those don't appear to be Pop-themed Icons. I'm not sure what's going on with the loading, but something definitely seems off.

I noticed you're still using Pop 20.10. Please be aware that 20.10 is not currently supported, and upgrading to/reinstalling with Pop 21.04 is advised.

I can't seem to replicate the issue in Pop 21.04. Loading this there I get:
![Screenshot from 2021-10-08 10-53-58](https

[2021-10-08 17:00] isantop commented on #76
Thanks for your report! I believe the issue is that Wayland applications don't necessarily have access to your local theme folder, so installing the icon theme system-wide will be required.

[2021-10-08 17:00] #76 closed, assigned to nobody

[2021-10-08 17:03] isantop commented on #73
In the meantime, we've added a `display-symbolic` icon which should fix this issue.

[2021-10-08 17:03] #73 closed, assigned to nobody

[2021-10-08 17:05] isantop opened #94 "Evaluate Icon Theme Inheritance"
**Describe the problem:**
It seems that some of our icon inheritance may be causing issues depending on which icon themes are installed on a user's system. We should probably re-evaluate what icons themes are inherited in Pop.

[2021-10-08 17:11] jacobgkau commented on #80
I reported the issue before 21.04 was released. 😛

I am still seeing this on my primary machine, which was upgraded from 20.10 to 21.04:

![image](https://user-images.githubusercontent.com/7199422/136596335-c627c45c-0792-4ba0-94ca-69a3c81679b6.png)

But I'm not seeing it on another system with a fresh 21.04 install. I'll try to figure out what breaks it. This isn't specific to one machine, but cou

[2021-10-08 17:17] jacobgkau commented on #87
Given that the dark theme is currently the default, would it make sense to prioritize that one?

Looking at Adwaita's icon theme, they're using colors that are visible in both the light and dark theme (but have more contrast in the dark theme, even though they default to light.)

[2021-10-08 21:25] isantop opened #97 "Test Issue"
### Issue Type

Bug Report

### Operating System

Pop_OS

### OS Version

21.10

### Icon Theme Version

[code]

### What happened?

Testing how the new issues look when filed. Here's a screenshot

### Expected Outcome

Issue looks nicely formatted and has lots of information

### Other Information

Thanks.

[2021-10-08 21:26] #97 closed, assigned to nobody

[2021-10-08 21:43] isantop commented on #71
I believe this is an issue with theme inheritance. Pop does not ship application icons, but does inherit Breeze, which apparently does. Let's track this through the inheritance issue #94

[2021-10-08 21:43] #71 closed, assigned to nobody

[2021-10-08 21:45] isantop commented on #80
Since those aren't Pop icons, I'll bet it's related to #94

@jacobgkau Do you have `breeze-icon-theme` installed?

[2021-10-08 21:47] jacobgkau commented on #80
I do, and can confirm installing that package is one way to recreate this on an otherwise-fresh 21.04 system.

[2021-10-11 20:00] isantop commented on #80
I'm almost positive this is an inheritance issue then. Should track this via #94

[2021-10-11 20:01] isantop commented on #67
Just checking if anyone on this issue is still getting the problem? If so, please report with a screenshot and list of any icon themes you have installed.

[2021-10-12 18:29] isantop opened #98 "Theme Tooling is Entirely Broken"
Due to Inkscape Updates, the theme rendering tooling is entirely broken. New icons cannot be rendered correctly.

Additionally, it would be good to "render" out to SVGs instead of PNGs. We aren't using any special features of SVG that can't be rendered in Icons, and SVGs would ensure that all icons could be viewed at sharp resolutions regardless of sizing. It would also eliminate the need for @2x

[2021-10-13 20:17] WatchMkr commented on #93
Yes, the appindicator icon is correct.

[2021-10-13 20:18] WatchMkr opened #101 "Volume icon when amplified needs improvement"
![amplified_speaker_icon](https://user-images.githubusercontent.com/3430283/137206698-bfbe3b98-0fba-44b4-82d7-92fe5ddf671e.png)
![Screenshot from 2021-10-13 14-06-13](https://user-images.githubusercontent.com/3430283/137206703-d5e1ffa7-e9f4-4a20-8f83-e222b889ae32.png)

[2021-10-14 01:14] #94 closed, assigned to isantop

[2021-10-14 17:25] isantop commented on #93
@WatchMkr I'm curious if you have any additional icon themes installed? Would it be possible to check in Tweaks under the Appearance > Icons dropdown (as something may have gotten pulled in as a dependency of something else).

Since the Pop icons don't supply any 3rd-party icons, I'm not sure if this is a bug caused by the Icon theme or not.

[2021-10-20 16:09] BaronKrause commented on #85
Sure! But now that I tested it again it appeared that the problem has been mostly fixed. You can launch the application using with normal non symbolic icons for both the tray and in application (default), with symbolic icons, or with the generic application icon as the tray icon (using non symbolic icons in app).

Ive been running it with the default app icon in the tray since I made this issue si

[2021-10-20 20:46] isantop commented on #85
Ah, I think I see what's going on. Should be a pretty simple fix.

[2021-11-17 16:00] #101 closed, assigned to isantop

[2021-12-04 02:29] BaronKrause commented on #85
I just noticed that the fixed battery icon for Solaar has regressed in the Pop theme back to the old unchanging Copper top icon. Same as before it is only broken in the top panel, not in the apps menu and shows that same icon regardless if Solaar is set to show Symbolic or standard icons. And like before it shows this same icon for all battery levels. Sometime over the past week or so a Pop update

[2022-01-31 21:30] isantop commented on #87
Should be improved as of #99 , please feel free to reopen if contrast issues persist

[2022-01-31 21:30] #87 closed, assigned to nobody

[2022-02-17 02:15] #50 closed, assigned to nobody

[2022-04-08 08:49] sh44rg opened #105 "KDE Plasma: cursor theme for hand and grabbed hand are missing"
### Issue Type

Missing Icon

### Operating System

Kubuntu

### OS Version

21.10

### Icon Theme Version

[code]

### What happened?

The cursors for hand and the hand when mouse is clicked (grabbed hand) are missing when installed in KDE Plasma
![Screenshot_20220408_141601](https://user-images.githubusercontent.com/100120918/162400058-59fff6af-3a34-4425-97d8-52dc24834d50.png)
It falls back to t

[2022-04-15 00:10] 13r0ck opened #106 "SVG Icons have redundant data"
### Issue Type

Bug Report

### Operating System

Pop_OS

### OS Version

22.04

### Icon Theme Version

[code]

### What happened?

Each Icon has data of every other icon within it, but just overhang the SVG's viewport. Removing the extra data will be more efficient on users memory, and load faster, as well as make the download smaller.

### Expected Outcome

Icons to not include excess data.

##

[2022-04-18 14:55] isantop commented on #106
Should add that this only affects the fullcolor icons. It is not affecting the scalable/symbolic icons

[2022-04-18 15:20] Absolucy opened #107 "pop-icon-theme fails to install in 22.04 beta"
### Issue Type

Bug Report

### Operating System

Pop!_OS

### OS Version

22.04

### Icon Theme Version

[code]

### What happened?

When installing, the `preinst` script fails:

[code]

This can be used as a workaround:
[code]

### Expected Outcome

`pop-icon-theme` installs successfully.

### Other Information

It's being installed via an arm64 systemd-nspawn.

[It's likely due to this line usi

[2022-04-18 17:31] Absolucy commented on #107
Fixed by https://github.com/pop-os/icon-theme/pull/108

[2022-04-18 17:31] #107 closed, assigned to nobody

[2022-04-19 11:25] AAnzel opened #109 "Some icons are squares"
### Issue Type

Bug Report

### Operating System

Pop_OS

### OS Version

PRETTY_NAME="Pop!_OS 21.10"

### Icon Theme Version

[code]

### What happened?

After the most recent update of the Pop Icon Theme, some icons show as squares. I noticed this in the Gnome Weather top bar widget, as well as in OpenWeather Extension. Images are attached below.

![image](https://user-images.githubusercontent.c

[2022-04-20 06:10] senntore commented on #109
Yeah this started happening for me as well

[2022-04-25 14:57] ahoneybun commented on #109
This happens for me as well. It seems that it happens on 22.04 and 21.10.

[2022-04-25 15:05] manuelojeda commented on #109
Confirming issue:
https://user-images.githubusercontent.com/22081875/165117350-114b2707-2c4b-4c20-b7aa-c8a3197b369a.mp4

[2022-04-26 18:30] isantop opened #110 "Full-color audio-card icon has a subicon which no longer matches"
### Issue Type

Bug Report

### Operating System

Pop

### OS Version

22.04

### Icon Theme Version

[code]

### What happened?

The symbolic speaker icon on the full-color `audio-card` icon no longer matches the symbolic icon theme (which was recently updated with new speaker icons):

![image](https://user-images.githubusercontent.com/5883565/165367975-c96c00df-4492-483c-9bb9-927c558bb5d0.png)

[2022-04-26 18:52] isantop opened #111 "Full-color computer-lock-screen has low-contrast lock icon"
### Issue Type

Bug Report

### Operating System

Pop

### OS Version

22.04

### Icon Theme Version

[code]

### What happened?

The symbolic lock subicon in the full-color `computer-lock-screen` icon has low contrast. Especially at low sizes, it can easily be confused for the standard `computer` full-color icon.

![image](https://user-images.githubusercontent.com/5883565/165371602-005dda83-3676-

[2022-04-27 06:44] coxackie commented on #109
confirming the issue - especially for the weather icons.

[2022-04-28 17:26] isantop opened #112 "Full color package-x-gzip 32x32 icon is not aligned to the pixel grid"
### Issue Type

Bug Report

### Operating System

Pop

### OS Version

22.04

### Icon Theme Version

[code]

### What happened?

The 32x32 full-color `package-x-gzip` icon has data which isn't aligned to the pixel grid. This makes the letters blurry and hard to read:

![image](https://user-images.githubusercontent.com/5883565/165811936-fe97a8fa-f8ed-4090-a190-b791e03209ad.png)

### Expected Outco

[2022-04-28 17:29] isantop commented on #112
The `package-x-bzip` icon at 32x32 has the same issue:
![image](https://user-images.githubusercontent.com/5883565/165812479-8f4db09b-c02f-4766-afdd-703f7cc957e1.png)

[2022-04-28 17:30] isantop commented on #112
Also confirmed on the zip and 7zip icons:
![image](https://user-images.githubusercontent.com/5883565/165812590-4f042d00-d2a2-454a-8ab2-dcd55aef51cf.png)

xzip needs to be fixed as well

[2022-05-06 15:08] #106 closed, assigned to isantop

[2022-05-18 15:07] #112 closed, assigned to isantop

[2022-05-20 04:36] red-steve commented on #109
Same

[2022-05-27 22:09] #109 closed, assigned to isantop

[2022-07-06 19:39] brs17 opened #118 "Wi-fi icon when Wi-fi is off looks very similar to the icon when Wi-fi is on."
### Issue Type

Bug Report

### Operating System

Pop!_OS

### OS Version

Pop!_OS 22.04 LTS

### Icon Theme Version

[code]

### What happened?

In either the Light or Dark appearance, when Wi-Fi is turned off the icon associated with Wi-Fi looks very similar to a full strength connected Wi-Fi connection.

Wi-Fi Off:
![Screenshot from 2022-07-06 12-57-34](https://user-images.githubusercontent.com

[2022-07-13 20:32] #118 closed, assigned to isantop

[2022-07-29 21:47] 13r0ck opened #121 "VPN icon when VPN is off looks very similar to the icon when VPN is on."
![Screenshot from 2022-07-29 15-41-52](https://user-images.githubusercontent.com/58987761/181847368-ad208a84-1c03-4eeb-a4ac-90576d4d01df.png)

[2022-08-02 01:42] #110 closed, assigned to isantop

[2022-08-02 01:42] #111 closed, assigned to isantop

[2022-08-19 20:31] #121 closed, assigned to nobody

[2022-09-02 08:53] vadimk1337 opened #127 "kotlin icon"
### Issue Type

Missing Icon

### Operating System

Pop_os

### OS Version

Pop!_OS 22.04 LTS

### Icon Theme Version

[code]

### What happened?

Can you add an icon for kotlin?
These are files called .kt, is the official language for developing android applications and it doesn't have an icon.
Type row: Kotlin source code (text/x-kotlin)

### Expected Outcome

I wanted to see an icon for kotlin.

[2022-10-04 17:54] #127 closed, assigned to nobody